.table-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;

    @media (--breakpoint-small) {
        display: block;
    }

    &_filters {
        display: flex;
        justify-content: space-between;
        margin: 12px 0;
        padding: 0 12px;

        @media (--breakpoint-small) {
            flex-direction: column;
        }

        &_inputs {
            flex-grow: 1;

            &_input {
                max-width: 200px;
                @media (--breakpoint-small) {
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: 4px;
                }

                &:not(:last-child) {
                    margin-right: 8px;
                    @media (--breakpoint-small) {
                        margin-right: 0;
                    }
                }
            }
        }

        &_actions {
            display: flex;
            @media (--breakpoint-small) {
                flex-direction: column;
            }

            & > * {
                display: block;
                max-width: 200px;
                @media (--breakpoint-small) {
                    width: 100%;
                    max-width: 100%;
                }

                & button {
                    width: 100%;
                }

                &:not(:last-child) {
                    margin-right: 8px;
                    @media (--breakpoint-small) {
                        margin-right: 0;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }

    &_table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #EBEEF5;
        overflow-y: auto;
        @media (--breakpoint-small) {
            padding-bottom: 40px;
        }
    }

    &_pagination {
        width: 100%;
        height: 40px;
        min-height: 40px;
        background-color: white;
        border-top: solid 1px #e6e6e6;

        @media (--breakpoint-small) {
            position: fixed;
            bottom: 0;
            z-index: 5;

            .el-pagination__total, .el-pagination__sizes, .el-pagination__jump {
                display: none !important;
            }
        }
    }
}
