.help-page {
  padding-bottom: 2rem;
}

.help-page article {
  width: 90%;
  margin: auto;
}

.help-page h2 {
  font-size: 1.7rem;
}

.help-page p {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.6;
}

.help-page figure {
  margin: 0;
}

.help-page figcaption {
  text-align: center;
  font-style: italic;
  margin-top: 5px;
  font-size: 0.9rem;
}

.help-page img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: 50% 50%s;
  border-radius: 8px;
}

.help-page ul li, .help-page ol li {
  line-height: 1.5rem;
}

.help-page  hr {
  border: 0;
  text-align: center;
  display: block;
  content: '***';
  font-size: 30px;
  line-height: 65px;
  height: 50px;
  letter-spacing: 0.2em;
}

.help-page hr:before {
  display: inline-block;
  content: '***';
  font-size: 30px;
  line-height: 65px;
  height: 30px;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 1024px) {
  .help-page article {
    width: 60%;
  }

  .help-page figure {
    margin: 0 -50px;
  }
}
