.import-page {
  padding-bottom: 2rem;
}

.import-page .import-navigation {
  display: flex;
  align-items: center;
  width: 675px;
  margin: 0 auto;
}

.import-page .import-navigation .btn {
  width: auto;
  height: 2.25rem;
}

.import-page .import-navigation > *:not(:last-child) {
  margin-right: 1rem;
}

.import-page .import-navigation h1 {
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
}

.import-page .import-info,
.import-page .import-error {
  width: 700px;
  margin: 1rem auto;
  text-align: left;
}

.import-page .import-error {
  text-align: center;
  height: 1.125rem;
}

.import-import {
  width: auto;
  margin: 0 auto;
}

.import-import input {
  display: none;
}

.import-table {
  display: grid;
  grid-template-columns: repeat(var(--headers-length), minmax(200px, 1fr));
  grid-template-rows: auto 2.25rem;
  grid-auto-rows: 2.25rem;
  column-gap: 1.125rem;
  row-gap: 0.125rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  overflow-x: auto;
}

.import-table_header {
  position: relative;
  padding-bottom: 1rem;
  max-width: 300px;
}

.import-table_header_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.625rem;
  padding: 0 0.25rem;
}

.import-table_header_title h3 {
  flex-grow: 1;
}

.import-table_header_title svg {
  cursor: pointer;
}

.import-table_header_title svg path, .import-table_cell svg path {
  stroke: var(--color-error);
}

.import-table_header .dropdown.open .dropdown-wrapper {
  max-height: 200px;
}

.import-table_cell {
  position: relative;
  padding: 0.6875rem 0 0.5625rem;
}

.import-table_cell > span {
  display: inline-block;
  width: 100%;
}

.import-table_cell:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-border);
}

.import-table_cell:after {
  content: "";
  position: absolute;
  right: -0.5625rem;
  top: 0.25rem;
  width: 2px;
  height: calc(100% - 0.5rem);
  background-color: var(--color-border);
}

.import-table_cell svg {
  position: absolute;
  left: -1.75rem;
  cursor: pointer;
}
