.settings-page {

}

.settings-page .settings {
  margin: 0 auto;
  padding: 1rem 2rem 2rem;
}

.settings-page .settings h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.settings-page .profile-settings {
  width: 600px;
}

.settings-page .profile-settings .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.settings-page .profile-settings .row p {
  width: 180px;
  margin-right: 1rem;
  text-align: right;
}

.settings-page .profile-settings .row .btn,
.settings-page .profile-settings .row .dropdown {
  width: 250px;
}

.settings-page .category-settings {
  padding: 0;
}

.settings-page .category-settings .card {
  margin: 2rem auto 0;
  padding: 1rem 2rem 2rem;
  width: 600px;
}

.settings-page .category-settings .card > h1 {
  margin-bottom: 0.5rem;
}

.settings-page .category-settings .card > div {
  display: flex;
  flex-wrap: wrap;
}

.settings-page .category-settings .card > div > * {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.settings-page .category-settings .category {
  cursor: pointer;
}

.settings-page .template-settings {
  padding: 0;
}

.settings-page .template-settings .transaction-add-form {
  width: 655px;
  margin: 0 auto;
}

.settings-page .template-settings .transactions-list {
  margin: 2rem auto 0;
  width: 600px;
}

.settings-page .template-settings .transactions-list_grid {
  width: 100%;
}

.settings-page .template-settings .no-transactions {
  width: 100%;
}
