{
  "repositoryUrl": "https://github.com/code-pilots/magner",
  "extends": "semantic-release-monorepo",
  "branches": [
    "main"
  ],
  "tagFormat": [
    "magner-v${version}"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    ["@semantic-release/git", {
      "message": "chore(release): magner-v${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    "@semantic-release/github"
  ]
}