.generic-form {
    &_block-row {
        position: relative;
        display: flex;
        gap: 12px;

        & > * {
            flex-grow: 1;
        }
    }

    &_block-column {
        position: relative;
    }

    &_column {
        width: 100%;
    }

    & .el-form-item {
        &__label {
            padding: 0;
            line-height: 30px;
        }
    }

    & .el-select {
        width: 100%;
    }

    &_icon {
        padding: 0 6px;
    }

    &_error {
        margin-bottom: 8px;
    }

    & .el-tag {
        @media (--breakpoint-small) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 4px;
            margin-left: 0;
        }
    }

    &_actions {
        display: flex;
        flex-direction: column;

        @media (--breakpoint-md) {
            flex-direction: row;

            & > * {
                max-width: 200px;
                &:not(:last-child) {
                    margin-right: 12px;
                }
            }
        }
    }

    &_item {
        &_help {
            cursor: pointer;
            & svg {
                transform: rotate(0deg) translateY(2px) !important;
            }
        }

        & .el-form-item__label {
            @media (--breakpoint-small) {
                line-height: 18px;
            }
        }

        &-dropzone {
            & .el-form-item__content {
                line-height: normal;
            }

            & .el-upload {
                width: 100%;
                &-dragger {
                    width: 100%;
                    height: auto;
                    min-height: 180px;

                    & .el-upload--text {
                        line-height: 1.2em;
                    }

                    &.images {
                        display: flex;
                        gap: 12px;
                        flex-wrap: wrap;
                        padding: 16px;

                        @media (--breakpoint-small) {
                            padding: 10px;
                        }
                    }

                    &_image {
                        position: relative;
                        max-height: 200px;

                        & .el-image {
                            width: auto;
                            max-height: 200px;
                            max-width: 300px;
                            border-radius: 4px;

                            @media (--breakpoint-small) {
                                max-width: 100%;
                            }
                        }
                    }
                }

                &.dragover * {
                    pointer-events: none;
                }
            }
        }
    }

    .field-group-move {
        transition: max-height .2s, height .2s;
    }

    .field-group-enter-active, .field-group-leave-active {
        transition: all .2s;
        max-height: 230px;
    }

    .field-group-enter, .field-group-leave-to {
        opacity: 0;
        max-height: 0px;
    }
}
