.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 230px;
    transition: width .3s;
    background-color: white;
    border-right: solid 1px #e6e6e6;
    z-index: 10;

    &.collapsed {
        width: 64px;
    }

    &:not(.open) {
        @media (--breakpoint-small) {
            display: none;
        }
    }

    &_menu, & .el-scrollbar__view {
        height: 100%;
        border: none;
    }

    &_menu {
        &_item {
            &_title {
                display: inline-block;
                margin-top: 2px;
                margin-left: 6px;
            }
        }
    }

    &_scroll {
        padding-bottom: 40px;
    }

    &_toggle {
        position: absolute;
        bottom: 0;
        height: 30px;
        width: 100%;
        border: none;
        transition: width .3s;
        border-top: solid 1px #e6e6e6;
        border-radius: 0;

        & > span {
            display: flex;
            align-items: center;
            justify-content: center;
            & .icon {
                margin-right: 6px;
            }
        }

        @media (--breakpoint-small) {
            display: none;
        }
    }
}
