.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.width-full {
  width: 100%;
}

.page {
  position: relative;
  height: 100%;

  @media (max-width: var(--breakpoint-small)) {
    padding: 4px;
  }
}
