.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 6px 20px;
  background-color: #f2f2f2;

  &_logo {
    display: flex;
    align-items: center;
    width: 250px;
    border-right: 1px solid gray;
    padding-left: 14px;
  }

  .header_left, &.header_right {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .header_left {
    flex-grow: 1;

    &_burger {
      margin-right: 8px;
      @media (min-width: 768px) {
        display: none;
      }
    }

    &_logo {
      font-size: 24px;
      margin-right: 48px;
    }
  }
}
