.generic-form {
  & .form-element-border-bottom {
    border-bottom: 1px solid rgba(0,0,0,.2);
  }

  & .test-form-collection {
    &_name {
      margin-right: 24px;
      @media (--breakpoint-small) {
        margin-right: 0;
      }
    }

    & .add-more {
      width: 100%;
      & .el-button {
        max-width: 200px;
        & i {
          transform: translateY(2px);
        }
      }
    }

    & .remove-more {
      width: 40px;
      height: 40px;
      margin-left: 8px;
    }

    & .flex-grow {
      width: 100%;
    }
  }
}
