.main-layout {
  &_sidebar {

  }

  &_content {
    height: calc(100vh - 50px);
    padding-left: 230px;
    transition: padding-left .3s;
    @media (--breakpoint-small) {
      padding-left: 0 !important;
    }
  }

  &.sidebar-collapsed {
    .main-layout_content {
      padding-left: 64px;
    }

    .header {
      &_logo {
        width: 64px;
        & h1 {
          display: none;
        }
      }
    }
  }
}
