.card-page {
    &_form {
        width: 100%;
        margin: 0 auto;
        padding: 12px 24px;

        @media (--breakpoint-small) {
            width: 90%;
            padding: 12px 0;
        }

        &_title {
            margin-bottom: 12px;
            text-align: left;
        }

        & .el-button {
            width: 100%;
            margin-left: 0;
            margin-bottom: 12px;
        }
    }
}
